body{
    background-color: beige;
}


header{
    position:fixed;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    color: black;
    width: 100%;
    padding: 10px;
    display: flex;

}

main{
    margin-top: 50px;
    margin-bottom: 50px;

}

.box {
    display: flex
}

.item{

    width: 80px;
    height: 20px;
    border: 1px solid black;
    background-color: cornflowerblue;
    padding: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 5px;

}